{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>other details</title>
    <link rel="icon" href="{% static 'logo 1.png' %}">

     
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'others.css' %}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: blueviolet;">

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <img style="border-radius: 50%;margin-left: 80px;margin-right: 150px;" src="{% static 'logo 1.png' %}" width="60px" height="60px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button style="background-color: rgb(6, 197, 22); margin-top: 40px;font-weight: 800; margin-left: 40px; margin-right: 40px; margin-bottom: 20px;" class="btn btn-outline-success my-2 my-sm-0" type="submit"><a style="color: azure;text-decoration: none;" href="{% url 'items' %}">List Of Items</a></button>
        <button style="background-color: rgb(236, 9, 28); margin-top: 40px;font-weight: 800; margin-left: 40px; margin-right: 40px; margin-bottom: 20px;" class="btn btn-outline-success my-2 my-sm-0" type="submit"><a style="color: azure;text-decoration: none;" href="{% url 'user_logout' %}">Hello {{user}}, Click To Logout</a></button>
      </form>
  </nav>
  
  <section>
        <table class="table1" >
            <thead>
              <tr>
                <th>COUNT</th>
                <th>ITEM NAME</th>
                <th>RECEIVED BY</th>
                <th>TELEPHONE NUMBER</th>
                <th>ENTERED BY</th>
                <th>TELEPHONE NUMBER</th>
                <th>DATE OF ENTRY</th>
                <th>LAST UPDATED</th>
              </tr>
            </thead>
            <tbody>
              {% for instance in queryset %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{instance.item_name}}</td>
                  <td>{{instance.received_by}}</td>
                  <td>{{instance.phone_number_r}}</td>
                  <td>{{instance.entered_by}}</td>
                  <td>{{instance.phone_number_e}}</td>
                  <td>{{instance.timestamp}}</td>
                  <td>{{instance.last_updated}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </section>

    <button style="margin-top: 10px;margin-left: 1200px;margin-right: 10px;margin-bottom: 20px;" class="btn btn-primary"><a style="color: white;font-size: 16px;font-weight: 700;text-decoration: none;" href="{% url 'others' %}">Back to top</a></button>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>